<footer class="footer footer-center bg-black text-white p-10 mt-20">
  <a href="index.html" class="flex items-center gap-4">
    <img src="images/logo.png" alt="Fruit Burist" class="w-10 lg:w-14" />
    <h1 class="text-3xl lg:text-5xl font-semibold">Fruit Burist</h1>
  </a>
  <nav
    class="grid grid-cols-3 md:grid-flow-col gap-6 lg:gap-10 text-sm lg:text-base"
  >
    <a href="index.html" class="link link-hover">Home</a>
    <a href="about.html" class="link link-hover">About us</a>
    <a href="shop.html" class="link link-hover">Shop</a>
    <a href="fruits.html" class="link link-hover">All Fruits</a>
    <a href="support.html" class="link link-hover">Support</a>
    <a href="account.html" class="link link-hover">My Account</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-6 text-2xl">
      <a
        href="https://twitter.com/"
        class="hover:text-red-500 transition-colors"
        ><i class="fa-brands fa-twitter"></i
      ></a>
      <a
        href="https://www.youtube.com/"
        class="hover:text-red-500 transition-colors"
        ><i class="fa-brands fa-youtube"></i
      ></a>
      <a
        href="https://www.facebook.com/"
        class="hover:text-red-500 transition-colors"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a
        href="https://www.linkedin.com/"
        class="hover:text-red-500 transition-colors"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a
        href="https://www.instagram.com/"
        class="hover:text-red-500 transition-colors"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a
        href="https://www.apple.com/"
        class="hover:text-red-500 transition-colors"
        ><i class="fa-brands fa-apple"></i
      ></a>
    </div>
  </nav>
</footer>
